<!DOCTYPE html>
<html>
	<head>
		<title><%= siteTitle%> <%= pageTitle%></title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div class="outer">
 			<div class="inner main">
				<h1><a href="/eneida">Енеїда </a></h1>
				<h2>Котляревський Іван</h2>
				<p>Ліро-епічна, травестійно-бурлескна поема. Гумор "Енеїди" — не розважальний. Ніби жартуючи, Котляревський відтворив минуле України, сучасне (другу половину XVIII ст. і початок XIX ст.) і заглянув у майбутнє. Засобами соковитого гумору він зумів оспівати героїзм українського козацтва, його побратимство, нестримну жадобу народу до волі.</p>
			</div>
		</div>
	</body>
</html>

